*.vo
*.glob
*.v.d
*.a
*.cmi
*.cmt
*.cmx
*.cmxs
*.cmxa
*.ml4.d
*.mllib.d
*.mlpack.d
*.o
.coqdeps.d
N*.cmi
N*.cmx
N*.cmxs
N*.o
N*.native
*~
*.aux
#*
.#*
**/#*#
*/Makefile.coq
*/Makefile.coq.conf
/*.pdf
/Benchmarks/*.log
/Benchmarks/*.log.tmp
/Benchmarks/*.log.ok
/Benchmarks/ParsingElaborated_medium.v
/Benchmarks/ParsingElaborated_quick.v
/Benchmarks/ParsingElaborated_slow.v
/Benchmarks/ParsingFlat_medium.v
/Benchmarks/ParsingFlat_quick.v
/Benchmarks/ParsingFlat_slow.v
/Benchmarks/Parsing_medium.v
/Benchmarks/Parsing_quick.v
/Benchmarks/Parsing_slow.v
/bench.tmp.wl
/extra-logs/bak/
